# OS / editor
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Node / frontend
node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files / secrets
.env
.env.*
*.local

#
backend/src/measurements/*
!backend/src/measurements/.gitkeep
backend/tests/


